@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');


body{
    background-color:antiquewhite;

}

*{
    margin:0;
    padding:0;
}

nav{
    font-family:'Ubuntu',sans-serif;
}

nav ul{
    display:flex;
    align-items:center;
    list-style-type:none;
    height:65px;
    background-color:black;
    color:white;
}

nav ul li{
    padding:0 12px;
}

.brand img{
    display:flex;
    align-items:center;
    width:50px;


}

.brand{
    display:flex;
    align-items:center;
    font-weight:bolder;
    font-size:1.3rem;
}

.container{
    min-height:80vh;
    background-color:black;
    color:white;
    font-family:'Varela Round',sans-serif;
    display:flex;
    width:70%;
    margin:23px auto;
    border-radius:12px;
    padding:34px;
    background-image: url('bg.jpg');
    
}

.bottom{
    position:sticky;
    height:80px;
    background-color:black;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    padding:10;
}

#myProgressBar{
    width:80vw;
    text-align:center;
}